<router-outlet></router-outlet>

<footer>

<div class="navContainer m-auto w-100 border-top d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center circleContainer">

        <button type="submit" class="btn button-home">
            <i class="bi bi-house-door fs-2"></i>
        </button>

        <button type="submit" class="btn button-add">
            <i class="bi bi-plus-circle-fill fs-2"></i>
        </button>

        <button type="submit" class="btn button-calendar">
            <i class="bi bi-calendar3 fs-2"></i>
        </button>

    </div>
</div>

</footer>
